@model VendorModel.Vendor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vendor Details</title>
</head>
<body>
    <h1>Vendor Details</h1>
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <h3>Orders:</h3>
    <ul>
        @foreach (var order in Model.Orders)
        {
            <li>
                Order ID: @order.Id <br />
                Title: @order.Title <br />
                Description: @order.Description <br />
                Price: @order.Price <br />
            </li>
        }
    </ul>
</body>
</html>
